.c1{
    text-align:center;
}
.c2{
    text-decoration: none;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 15px;
    text-align: left;
}
th{
    background-color: rgb(2, 2, 24);
    color:white;
}
tr:nth-child(even){
    
    color:rgb(17, 16, 16);
   /* background-color: #FF2E63;
    background-color: #dd0a35;
    background-color:  #b5092c;
    background-color: #014955;*/
}
tr:nth-child(odd){
    background-color: rgb(217, 197, 235);
    color: black;
}
/*bg-color="#08D9D6;*/